/*body*/

body {
    background-color: #ABEAD1;
    font-size:18px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 24px;
}

.left-card:after {
    content: "";
    background-color: rgb(210, 210, 210);
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0px;
    left: 50%;
    display: block;
}

.join-btn {
    position: absolute;
    left: 84.8%;
    right: 2.36%;
    top: 43.75%;
    bottom: 36.61%;
}

.card {
    height: 224px;
}

.countDownTimer {
    position: absolute;
    left: 80%;
    right: 2%;
    top: 5%;
}

.clockImg {
    float: left;
    margin-right: 5px;
}

.sessionMembersPicture {
    margin-bottom: 10px;
    height: 45px;
}