/*body*/

body {
    background-color: #DCF2E5;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 24px;
}

/* buttons */
.btn-style {
    color: #ffffff;
    background-color: #00926F;
    border-color: #00926F;
    min-width: 80px;
}

.btn-style:hover {
    color: white;
}

/* nav */

#navIcons img {
    width: 70%;
}

/* sessions */

#addNewSessionIcon {
    vertical-align: -.125em; 
    padding-right: 5px; 
    font-size: 1.5rem;
}

/* cards */

.card {
    /*height: 224px;*/
    border: none;
    border-radius: 0.75rem;
    /*margin: 10px; */
}

.card-secondary {
	color: #6E798C;
}

.card-tertiary {
	color: #A5ADBB;
}

.sessionMembersPicture {
    margin-bottom: 10px;
    height: 45px;
}

/* public session */

.publicIndicator {
    position: absolute;
    background-color: #41CCA3;
    border-radius: 0.75rem 0 0 0.75rem ;
    left: 0%;
    right: 96%;
    top: 0%;
    bottom: 0%;
    z-index: 10;
}

.cardSeparator {
    border-right: 1px solid #C5C5C5;
}

/* private session */

.privateIndicator {
    position: absolute;
    background-color: #EBB8AC;
    border-radius: 0.75rem 0 0 0.75rem ;
    left: 0%;
    right: 96%;
    top: 0%;
    bottom: 0%;
    z-index: 10;
}

.opaqueLayer {
    position: absolute;
    background-color: rgba(50, 50, 93, 0.5);
    border-radius: 0 0.75rem 0.75rem 0;
    left: 50%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: 10;
}

#askPermissionBtn {
    position: absolute;
    margin: 8%;   
    z-index: 11;
}

.col-form-label {
    padding: 0%;
}

.form-check-input:checked {
    background-color: #00926F;
    border-color: #00926F;
}

.btn.btn-style[disabled] {
    background-color: #C5C5C5;
    opacity: 100%;
    border-color: #C5C5C5;
}

/* modal */
.modal-content{
    background-color: #F4F5F7;
    border-radius: 0.5rem; 
}

.modal-header {
    border-bottom: none;
    padding: 1.25rem;
}

.modal-body {
    padding: 1.25rem;
}

.modal-footer {
    border-top: none;
    padding: 1rem;
}

.form-control{
    border: none;
}

.modal-btn {
    min-width: 160px;
}

/* pomodora session drop down */
select#numOfPomodoroSessions {
    border:0px;
    outline:0px;
 }

/* responsive setting */

@media (min-width: 1200px) {
    .opaqueLayer {
        left: 58%;
    }
}