/*body*/

body {
    background-color: #C2F0DE;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 24px;
}

/* buttons */
.btn-style {
    color: #ffffff;
    background-color: #00926F;
    border-color: #00926F;
}

/* nav */

#navIcons img {
    width: 70%;
}

/* sessions */

.offset-session {
    margin-left: 12%;
}

.offset-building {
    margin-left: 4%;
}

#addNewSessionIcon {
    vertical-align: -.125em; 
    padding-right: 5px; 
    font-size: 1.5rem;
}

/* cards */

.card {
    /*height: 224px;*/
    border: none;
    border-radius: 0.75rem;
    /*margin: 10px; */
}

.card-secondary {
	color: #6E798C;
}

.card-tertiary {
	color: #A5ADBB;
}

/*.left-card:after {
    content: "";
    background-color: rgb(210, 210, 210);
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0px;
    left: 50%;
    display: block;
}*/

/*.countDownTimer {
    position: absolute;
    left: 80%;
    right: 2%;
    top: 5%;
}*/

/*.clockImg {
    float: left;
    margin-right: 5px;
}*/

.sessionMembersPicture {
    margin-bottom: 10px;
    height: 45px;
}

/* public session */

.publicIndicator {
    position: absolute;
    background-color: #41CCA3;
    border-radius: 0.75rem 0 0 0.75rem ;
    left: 0%;
    right: 96%;
    top: 0%;
    bottom: 0%;
    z-index: 10;
}

.cardSeparator {
    border-right: 1px solid #C5C5C5;
}

/*.join-btn {
    position: absolute;
    left: 84.8%;
    right: 2.36%;
    top: 43.75%;
    bottom: 36.61%;
}*/

/* private session */

.privateIndicator {
    position: absolute;
    background-color: #EBB8AC;
    border-radius: 0.75rem 0 0 0.75rem ;
    left: 0%;
    right: 96%;
    top: 0%;
    bottom: 0%;
    z-index: 10;
}

.opaqueLayer {
    position: absolute;
    background-color: rgba(50, 50, 93, 0.5);
    border-radius: 0 0.75rem 0.75rem 0;
    left: 58%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: 10;
}

#askPermissionBtn {
    position: absolute;
    margin: 8%;   
    z-index: 11;
}

.col-form-label {
    padding: 0%;
}

.form-check-input:checked {
    background-color: #00926F;
    border-color: #00926F;
}