/*body*/

body {
    /*background-color: #DCF2E5;*/
    background-color: rgba(220, 242, 229, 0.4);
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #32325D;
    line-height: 24px;
}

.color-green {
    color: #279675;
}

.color-secondary {
	color: #6E798C;
}

.color-tertiary {
	color: #A5ADBB;
}

.semi-bold {
    font-weight: 600;
}

.img-fluid {
    width: 60%;
}

.center {
    text-align: center;
}

/* content */

#contentContainer {
    background-color: rgba(244, 245, 247, 0.4);
    border-radius: 0.75rem;
}

/* cards */

.card {
    border: none;
    border-radius: 0.75rem;
}

.btn-style {
    color: #279675;
    background-color: #fff;
    border-color: #279675;
    border-radius: 1.5rem;
    font-size:16px;
    width: 80%;
    min-height: 40px;
}

.btn-style:hover {
    color: white;
    background-color: #279675;
}

.disabled, .disabled:hover {
	color: #A5ADBB;
	border-color: #A5ADBB;
}

#members p {
    margin-top: 1rem;
}