/*body*/

body {
    background-color: #DCF2E5;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 24px;
}

.container {
	background-color: white;
	border-radius: 0.75rem;
}

.color-green {
	color: #00926F;
}

.color-secondary {
	color: #6E798C;
}

.color-tertiary {
	color: #A5ADBB;
}

.img_btn {
	cursor: pointer;
}

.img_btn img {
	width: 18%;
}

.semi-bold {
    font-weight: 600;
}

.scrollable {
	overflow:auto; 
	height: 375px;
}

.btn:disabled {
	color: #C4C4C4;
	background-color: #F4F5F7;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.popover {
	min-width: 200px !important;
	max-width: 350px !important;
}

.cursor {
	cursor: pointer !important;
}

/* control group */

.btn-style {
    color: #00926F;
    background-color: #F4F5F7;
    border-color: #F4F5F7;

	width: 50px;
	height: 50px;
	border-radius: 50% !important;
}

.btn-style:hover, .checked {
	color: white;
	background-color: #00926F;
}

#screenModeBtnGroup {
	border-radius: 2.5rem;
	background-color: #F4F5F7;
}

#screenModeBtnGroup i, #videoControlBtnGroup i{
	font-size: 1.2rem;
}

/* camera region */

#cameras .content {
	position: relative;
	display: block;
}

#cameras .content .camera-btn-group {
	display: inline;
	position: absolute;
	left:8%;
	bottom: 5%;
}

#cameras .content .camera-btn-group .indicators {	
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00926F;
  padding: 0.25rem;
}

#edit_btn {
	display: inline;
	position: absolute;
	right:8%;
	bottom: 5%;
}

#cameras .content .edit {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #00926F;
  padding: 0 5px;
}

#self-camera img{
	border: 3px solid #00926F;
	border-radius: 1rem;
}

/* session goal join modal */

.bi-plus-circle-fill {
	font-size: 1.5rem;
	color: #00926F;
	cursor: pointer;
}

#warning {
	color: #DC3545;
}

/* To Do List */

.bi-list-task{
	color: white;
}

.bi-pencil-square {
	color: white;
	font-size: 0.8rem;
}

.bi-check-circle-fill {
	color: #00926F;
}

.bi-circle-fill {
	color: #C4C4C4;
}

.tdl-check {
	font-size: 1.2rem;
	cursor: pointer;
}

.tdl-readonly {
	font-size: 1.2rem;
}

.offset-custom {
    margin-left: 4%;
}

/* progress bar */

#progressBar p {
	margin-bottom: 0.5rem;
}

#progressBar img{
	width: 24px;
}

#progressBar span {
	vertical-align:middle;
	color: #A5ADBB;;
}

.ongoing {
	background-color: #41CCA3;
}

.upcoming {
	background-color: #E9ECEF;
}

/* modal */

.modal-content{
	background-color: #F4F5F7;
	border-radius: 0.5rem;
}

.modal-header {
	border-bottom: none;
	padding: 1.25rem;
}

#sessionSummaryModal .modal-header {
	padding: 1rem 1rem 0.75rem;
}

.modal-body {
	padding: 1.25rem;
}

#sessionSummaryModal .modal-body {
	padding: 0 1rem 1rem;
}

.modal-footer {
	border-top: none;
	padding: 1rem;
}

.form-control{
	border: none;
}

.modal-btn {
	color: #ffffff;
	background-color: #00926F;
	border-color: #00926F;
	min-width: 160px;
}

.modal-btn:hover {
	color: white;
}

.modal-btn:disabled {
	border-color: #C4C4C4;
}

.icon-disabled {
	color: #C4C4C4;
	pointer-events: none;
    opacity: .65;
}

/* screen */
#screen {
	position: relative;
}

#quiteModeWarning {
	position:absolute;
	z-index: 1;
	width:75%; 
	top:3%; 
	left:15%;
}

#quiteModeWarning.alert{
	padding: 0.5rem 0.75rem;
}


#quiteModeWarning.alert-dismissible .btn-close {
	padding: 0.75rem 1rem
}

/* large Timer for timer mode */
#largeTimer {
	position: absolute;
	text-align: center;
	font-size: 10vw;
	top: 30%;
	left: 25%;
}

/* responsive setting */

@media (min-width: 1200px) {
	.scrollable { 
		height: 450px;
	}

	.btn-style {
		width: 55px;
		height: 55px;
	}

	#screenModeBtnGroup i, #videoControlBtnGroup i{
		font-size: 1.3rem;
	}

	#quiteModeWarning {
		width:65%; 
		left:20%;
	}
}

@media (min-width: 1400px) {
	.scrollable { 
		height: 520px;
	}

	.btn-style {
		width: 60px;
		height: 60px;
	}

	#screenModeBtnGroup i, #videoControlBtnGroup i{
		font-size: 1.4rem;
	}

	#quiteModeWarning {
		width:60%; 
	}
}