/*body*/

body {
    background-color: #DCF2E5;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 24px;
}

.container {
	background-color: white;
	border-radius: 0.75rem;
}

.color-secondary {
	color: #6E798C;
}

.color-tertiary {
	color: #A5ADBB;
}

.img_btn {
	cursor: pointer;
}

.img_btn img {
	width: 18%;
}

.semi-bold {
    font-weight: 600;
}

.scrollable {
	overflow:auto; 
	height: 520px;
}

#screenModeBtnGroup {
	display: inline-block;
	background-color: #F4F5F7; 
	border-radius: 2rem;
}

/* buttons */
.btn-style {
    color: #ffffff;
    background-color: #00926F;
    border-color: #00926F;
    min-width: 80px;
}

#cameras .content {
	position: relative;
	display: block;
}

#cameras .content .camera-btn-group {
	display: inline;
	position: absolute;
	left:8%;
	bottom: 5%;
}

#cameras .content .camera-btn-group .indicators {	
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00926F;
  padding: 0.25rem;
}

#cameras .content .camera-btn-group .edit {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #00926F;
  padding: 0 5px;
}

#self-camera img{
	border: 3px solid #00926F;
	border-radius: 1rem;
}

/* session goal join modal */
.bi-plus-circle-fill {
	font-size: 1.5rem;
	color: #00926F;
	cursor: pointer;
}

#warning {
	color: #DC3545;
}

/* To Do List */

.bi-list-task{
	color: white;
}

.bi-pencil-square {
	color: white;
	font-size: 0.8rem;
}

.bi-check-circle-fill {
	color: #00926F;
}

.bi-circle-fill {
	color: #C4C4C4;
}

.tdl-check {
	font-size: 1.2rem;
	cursor: pointer;
}

.tdl-readonly {
	font-size: 1.2rem;
}

.offset-custom {
    margin-left: 4%;
}

/* progress bar */

#progressBar p {
	margin-bottom: 0.5rem;
}

#progressBar img{
	width: 24px;
}

#progressBar span {
	vertical-align:middle;
	color: #A5ADBB;;
}

.ongoing {
	background-color: #41CCA3;
}

.upcoming {
	background-color: #E9ECEF;
}