/*body*/

body {
    background-color: #DCF2E5;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #32325D;
    line-height: 24px;
}

.offset-custom {
    margin-left: 3%;
}

.color-green {
    color: #279675;
}

.semi-bold {
    font-weight: 600;
}

/* nav */

#navIcons img {
    width: 70%;
}

/* Personal Study Statistics */

#personalContainer {
    background-color: rgba(244, 245, 247, 0.4);
    border-radius: 0.75rem;
}

/* cards */

.card {
    border: none;
    border-radius: 0.75rem;
}

.btn-style {
    color: #279675;
    background-color: #fff;
    border-color: #279675;
    font-size:12px;
}

.btn-style:hover, .checked {
	color: white;
	background-color: #00926F;
}

.btn-check:checked+.btn-style, .btn-check:checked+.btn-style {
    color: #fff;
    background-color: #279675;
}


/* Personal Room and tree Background */

#personalRoomPic {
    position: fixed;
    z-index: -1;
    right: 10px;
    top: 120px;
    width: 50%;
}